<div class="z-50" >
  <app-toolbar></app-toolbar>
</div>

<div class="overflow-auto bg-radial-blue-radial z-20" *ngIf="slides.length > 0">
  <div *ngIf="!userLoggedOut"  class="px-8 text-[18px] py-3 ">
    <h2>
      <span *ngIf="user" class="text-white">
        Olá, {{getFirstWord(user.nome)}}
      </span>
    </h2>
  </div>
  <div *ngIf="userLoggedOut"  class="px-8 text-[14px] py-3 bg-amarelosecundario border-b-[0.3px] border-white">
    <h2>
      <span class="text-white font-semibold flex justify-between">
        <span class="text-azulprincipal" (click)="navegate('account/sign')">Entre aqui</span>
      </span>
    </h2>
  </div>
  <div class=" py-3">
    <div class="px-8 text-[16px] pt-5 pb-8 text-white ">
      <h2>
        <span class="text-amareloprincipal font-semibold">
          Facilite sua vida:
        </span>
         escolha e agende serviços domésticos e empresarias.
      </h2>
    </div>
    <div class="swiper" *ngIf="slides.length > 0">
      <swiper-container
        #swiper
        [slidesPerView]="1.8"
        [centeredSlides]="true"
        [autoplay]="true"
        [spaceBetween]="10"
        [pagination]="{clickable: true, dynamicBullets: true}" style="--swiper-pagination-color: #FD4F04;">
        <swiper-slide *ngFor="let slide of slides; let i = index">
          <div class="shadow-lg pb-2.5 rounded-[5px] h-[290px] w-[200px] flex flex-col justify-between bg-gray-100">
            <img alt="Imagem" class="h-[150px] w-full object-cover rounded-t-[5px]" [src]="slide.banner" />
            <div class="flex flex-col p-2.5 flex-grow">
              <span class="font-semibold whitespace-nowrap">
                {{slide.nome}}
              </span>
              <span class="text-gray-600 text-sm">
                {{slide.slogan}}
              </span>
            </div>
            <div (click)="navegateByparam('services/new',slide.ID, i)" class="px-2.5 flex">
              <div class="btn-agenda rounded-sm py-1 text-center text-white uppercase text-[14px] font-semibold w-full">
                Agendar serviço
              </div>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>

  </div>

  <div class="mt-10 mb-8 mx-6 px-1 py-4 text-[16px]  font-[500] ">
    <div class="flex relative" >

      <img
        *ngFor="let image of images; let i = index"
        class="absolute object-cover transition-opacity duration-1000 -mt-5 -ml-2.5"
        [class.opacity-0]="currentImageIndex !== i"
        [class.opacity-100]="currentImageIndex === i"
        [ngClass]="customStyles[i]"
        [src]="image"
        alt="Imagem dinâmica"
      />
      <div class="ml-9 pr-3 w-full text-center bg-amarelosecundario border text-azulprincipal border-white shadow-md pl-5 py-4 rounded-md ">
        <h2>
          Deixe com a gente e VAVIVÊ!
        </h2>
      </div>
    </div>
  </div>
  <div class="pb-8">
    <!--
      <div class="px-11 text-[16px] pt-8 pb-8  flex flex-col">
        <h2>
          <span class="text-amareloprincipal font-bold uppercase">
            Sobre nós:
          </span>
        </h2>
      </div>
    -->
    <div class="swiper-2" *ngIf="slides.length > 0">
      <swiper-container
        #swiper
        [modules]="swiperModules"
        [slidesPerView]="1.2"
        [initialSlide]="3"
        [centeredSlides]="true"
        [autoplay]="{ delay: 1000, disableOnInteraction: false }"

        [spaceBetween]="50"
        [pagination]="{clickable: true, dynamicBullets: true}" style="--swiper-pagination-color: #FD4F04;">
        <swiper-slide *ngFor="let slide of slidesUtils2">
          <div class=" pb-2.5 pt-8 rounded-[5px] h-[100px] flex flex-col justify-between bg-transparent">
            <div class="flex flex-col p-2.5 flex-grow">
              <span class="font-semibold text-[16px] text-amareloprincipal">
                {{slide.name}}
              </span>
              <span class="text-white text-[16px]">
                {{slide.slogan}}
              </span>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>
    <div class="px-8 text-[16px] pt-8 pb-8 text-white mt-4">
      <h2>
           Mais recursos, mais vantagens!
      </h2>
    </div>

    <div class="swiper" *ngIf="slides.length > 0">
      <swiper-container
        #swiper
        [modules]="swiperModules"
        [slidesPerView]="1.5"
        [initialSlide]="1.5"
        [centeredSlides]="true"
        [autoplay]="true"
        [spaceBetween]="10"
        [pagination]="{clickable: true, dynamicBullets: true}" style="--swiper-pagination-color: #FD4F04;">
        <swiper-slide *ngFor="let slide of slidesUtils" (click)="navegateExternalLink(slide.link)">
          <div class="shadow-lg pb-2.5 rounded-[5px] h-auto w-[200px] flex flex-col justify-between bg-gray-100">
            <img alt="Silhouette of mountains" class="h-[150px] w-full object-cover rounded-t-[5px]" src="{{slide.bannerApp}}" />
            <div class="flex flex-col p-2.5 flex-grow">
              <span class="font-semibold">
                {{slide.name}}
              </span>
              <span class="text-gray-600 text-sm ">
                {{slide.slogan}}
              </span>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>

  </div>
  <div class="bg-gray-800 py-2">
    <img class="h-10 mx-auto" src="https://lirp.cdn-website.com/6d9e534c/dms3rep/multi/opt/ABF_LOGO2023_ASSOCIADO_H_RGB_Negativo_Final-1920w.png">
  </div>
</div>
<app-loading #loadingComponent></app-loading>
