<div class="h-screen flex flex-col overflow-hidden relative bg-white">

  <div class="flex border-b border-gray-300">
    <div
      class="flex-1 text-center py-2 cursor-pointer transition-all"
      [ngClass]="screen === 'profile' ? 'bg-azulprincipal text-white' : 'bg-gray-100 text-gray-600'"
      (click)="screen = 'profile'">
      Conta
    </div>
    <div
      class="flex-1 text-center py-2 cursor-pointer transition-all"
      [ngClass]="screen === 'payments' ? 'bg-azulprincipal text-white' : 'bg-gray-100 text-gray-600'"
      (click)="screen = 'payments'">
      Endereço
    </div>
  </div>

  <div *ngIf="screen==='profile'" >

    <div class="w-full flex justify-center px-4">
      <div class="px-4 py-8 rounded-sm w-full">
        <form [formGroup]="formRegister">
          <div class="flex flex-col">
            <ion-input
              label="Nome completo"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              inputmode="numeric"
              formControlName="nome"
            ></ion-input>
            <div *ngIf="formRegisterControl['nome'].value && formRegisterControl['nome'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
          </div>
          <div class="flex flex-col">
            <ion-input
              label="Telefone"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              inputmode="numeric"
              formControlName="celular"
            ></ion-input>
            <div *ngIf="formRegisterControl['celular'].value && formRegisterControl['celular'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
          </div>
          <div class="flex flex-col">
            <ion-input
              label="CPF"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              inputmode="numeric"
              formControlName="cpf"
            ></ion-input>
            <div *ngIf="formRegisterControl['cpf'].value && formRegisterControl['cpf'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
          </div>
          <div class="flex flex-col">
            <ion-input
              label="Email"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              inputmode="numeric"
              formControlName="email"
            ></ion-input>
            <div *ngIf="formRegisterControl['email'].value && formRegisterControl['email'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
          </div>
          <div *ngIf="type === 'Cliente'"  class="flex flex-col">
            <ion-input
              label="CPF"
              label-placement="floating"
              fill="outline"
              placeholder="999.999.999-99"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              formControlName="cpf"
              inputmode="numeric"
              (keyup)="verificationCPF($event)"
            ></ion-input>
            <div *ngIf="formRegisterControl['cpf'].value && formRegisterControl['cpf'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
            <div *ngIf="cpfInvalido" >
              <div class="h-auto w-full text-red-600 my-1">
              * Digite um cpf valido
              </div>
            </div>
          </div>
          <div *ngIf="type === 'Empresa'"  class="flex flex-col">
            <ion-input
              label="CNPJ"
              label-placement="floating"
              fill="outline"
              placeholder="99.999.999/9999-99"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              formControlName="cpf"
              inputmode="numeric"
            ></ion-input>
            <div *ngIf="formRegisterControl['cpf'].value && formRegisterControl['cpf'].errors">
              <span class="text-red-500 text-[10px]">* Campo obrigatório</span>
            </div>
          </div>
          <button
            [ngClass]="{'bg-azulprincipal':formRegister.valid,'bg-gray-300':!formRegister.valid}"
            class="text-center text-white rounded py-2 w-full mt-8 duration-150 " (click)="updateClient()" >
            <div
              class="font-bold">
              Salvar
            </div>
          </button>
          <div class="w-full flex justify-center mt-6">
            <span class="text-azulprincipal" (click)="logout()">Sair</span>
          </div>
          <div class="flex justify-center">
            <div class="flex justify-center mt-8 text-sm" (click)="openExternalLink('https://www.vavive.com.br/termos')">
              Politica de privacidade
            </div>
            <div class="flex justify-center ml-4 mt-8 text-sm text-red-600" (click)="modalDeletedAccount.present()">
              Excluir conta
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="screen==='payments'" >
    <div class="p-4">
      <div (click)="openModalEndereco()" class="py-2 bg-azulprincipal text-white rounded-md shadow-md mt-6 mb-2" >
        <div class="flex justify-center" >
          <img class="h-[18px] mr-2" src="./assets/icons/plus.svg">
          <span class="text-sm uppercase font-semibold">Novo endereço</span>
        </div>
      </div>
      <div class="overflow-y-auto max-h-[calc(100vh-200px)]">
        <div *ngFor="let endereco of user.enderecos; let i = index" class="text-xs rounded-md shadow-md mt-4">
          <div class="bg-azulsombreado  p-3 ">
            <div class="text-laranjaprincipal flex justify-between">
              Endereço {{i+1}}
            </div>
            <div class="flex ">
              Rua: {{endereco.rua}} <span *ngIf="endereco.numero && endereco !== ''">, nº {{endereco.numero}}</span>
            </div>
            <div class="flex flex-col">
              Bairro: {{endereco.bairro}}
            </div>
            <div class="flex flex-col">
              Cidade: {{endereco.cidade}}
            </div>
            <div class="flex flex-col">
              Estado: {{endereco.estado}}
            </div>
            <div class="flex flex-col">
              Cep: {{endereco.cep}}
            </div>
            <div class="flex flex-col">
              Complemento: {{endereco.complemento}}
            </div>
          </div>
          <div class="flex w-full">
            <div (click)="openModalEditEndereco(endereco)" class="bg-laranjasombreado flex items-center py-1 justify-center w-[50%]">
              Editar
              <img class="h-4 ml-2" src="./assets/icons/pencil.svg">
            </div>
            <div (click)="openModalDeleteEndereco(endereco,i )"class="bg-gray-200 flex items-center py-1 justify-center w-[50%]">
              Excluir
              <img class="h-4 ml-2" src="./assets/icons/lixeira.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Ion Modal para adicionar novo endereço -->
<ion-modal id="endereco-modal" #modalNovoEndereco (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal">Adicionar Novo Endereço</div>
      <span class="text-xs mb-5">Digite o cep e o numero do endereço:</span>

      <div>
        <ion-input
          label="CEP"
          label-placement="floating"
          fill="outline"
          class="custom mt-6"
          autocomplete="true"
          type="tel"
          inputmode="numeric"
          [(ngModel)]="cep"
          (keyup)="searchCep()"
          maxlength="9"
          placeholder="00000-000"
          [maskito]="cepMask"
          [maskitoElement]="predicate"
        ></ion-input>

        <!-- Exibir o restante do formulário apenas se o CEP for encontrado -->
        <div>
          <div class="w-full flex ">
            <ion-input
              label="Rua"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.rua"
              disabled
            ></ion-input>

            <ion-input
              label="N°"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.numero"
            ></ion-input>
          </div>

          <ion-input
            label="Bairro"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.bairro"
            disabled
          ></ion-input>
          <div class="w-full flex ">
            <ion-input
              label="Cidade"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.cidade"
              disabled
            ></ion-input>

            <ion-input
              label="UF"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.estado"
              disabled
            ></ion-input>
          </div>

          <ion-input
            label="Complemento"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.complemento"
          ></ion-input>
        </div>

        <div class="flex justify-between">
          <button class="mt-4 bg-gray-300 rounded-md py-1.5 px-4 shadow-md" (click)="modalNovoEndereco.dismiss()">Fechar</button>
          <button class="mt-4 rounded-md py-1.5 px-4 text-white shadow-md duration-150" (click)="salvarEndereco()" [ngClass]="{'bg-azulprincipal': isFormValid(),'bg-gray-200': !isFormValid()}" [disabled]="!isFormValid()">Salvar</button>
        </div>

      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- Ion Modal para adicionar novo endereço -->
<ion-modal id="endereco-modal" #modalEditEndereco (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal">Editando Endereço</div>
      <span class="text-xs mb-5">Digite o cep e o numero do endereço:</span>

      <div>
        <ion-input
          label="CEP"
          label-placement="floating"
          fill="outline"
          class="custom mt-6"
          autocomplete="true"
          type="tel"
          inputmode="numeric"
          [(ngModel)]="cep"
          (keyup)="searchCep()"
          maxlength="9"
          placeholder="00000-000"
          [maskito]="cepMask"
          [maskitoElement]="predicate"
        ></ion-input>

        <!-- Exibir o restante do formulário apenas se o CEP for encontrado -->
        <div>
          <div class="w-full flex ">
            <ion-input
              label="Rua"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.rua"
              disabled
            ></ion-input>

            <ion-input
              label="N°"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.numero"
            ></ion-input>
          </div>

          <ion-input
            label="Bairro"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.bairro"
            disabled
          ></ion-input>
          <div class="w-full flex ">
            <ion-input
              label="Cidade"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.cidade"
              disabled
            ></ion-input>

            <ion-input
              label="UF"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.estado"
              disabled
            ></ion-input>
          </div>

          <ion-input
            label="Complemento"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.complemento"
          ></ion-input>
        </div>

        <div class="flex justify-between">
          <button class="mt-4 bg-gray-300 rounded-md py-1.5 px-4 shadow-md" (click)="modalEditEndereco.dismiss()">Fechar</button>
          <button class="mt-4 rounded-md py-1.5 px-4 text-white shadow-md duration-150" (click)="updateEndereco()" [ngClass]="{'bg-azulprincipal': isFormValid(),'bg-gray-200': !isFormValid()}" [disabled]="!isFormValid()">Salvar</button>
        </div>

      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- Ion Modal para adicionar novo endereço -->
<ion-modal id="endereco-modal" #modalDeleteEndereco (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal">Deletar Endereço</div>
      <span class="text-xs mb-5">Deseja realmente deletar esse endereço?</span>

      <div>
        <ion-input
          label="CEP"
          label-placement="floating"
          fill="outline"
          class="custom mt-6"
          autocomplete="true"
          type="tel"
          inputmode="numeric"
          [(ngModel)]="cep"
          (keyup)="searchCep()"
          maxlength="9"
          placeholder="00000-000"
          [maskito]="cepMask"
          [maskitoElement]="predicate"
          disabled
        ></ion-input>

        <!-- Exibir o restante do formulário apenas se o CEP for encontrado -->
        <div>
          <div class="w-full flex ">
            <ion-input
              label="Rua"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.rua"
              disabled
            ></ion-input>

            <ion-input
              label="N°"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.numero"
              disabled
            ></ion-input>
          </div>

          <ion-input
            label="Bairro"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.bairro"
            disabled
          ></ion-input>
          <div class="w-full flex ">
            <ion-input
              label="Cidade"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 w-[75%]"
              [(ngModel)]="endereco.cidade"
              disabled
            ></ion-input>

            <ion-input
              label="UF"
              label-placement="floating"
              fill="outline"
              class="custom mt-4 ml-2 w-[25%]"
              [(ngModel)]="endereco.estado"
              disabled
            ></ion-input>
          </div>

          <ion-input
            label="Complemento"
            label-placement="floating"
            fill="outline"
            class="custom mt-4"
            [(ngModel)]="endereco.complemento"
            disabled
          ></ion-input>
        </div>

        <div class="flex justify-between">
          <button class="mt-4 bg-gray-300 rounded-md py-1.5 px-4 shadow-md" (click)="modalDeleteEndereco.dismiss()">Fechar</button>
          <button class="mt-4 rounded-md py-1.5 px-4 text-white shadow-md duration-150" (click)="deleteEndereco()" [ngClass]="{'bg-azulprincipal': isFormValid(),'bg-gray-200': !isFormValid()}" [disabled]="!isFormValid()">Deletar</button>
        </div>

      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="endereco-modal" #modalErroEndereco>
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal">Erro</div>
      <span class="text-xs mb-5">Erro ao excluir endereço.</span>

    </div>
  </ng-template>
</ion-modal>

<ion-modal id="endereco-modal" #modalFranquiaChange>
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal text-center text-lg font-bold mb-3">Atenção</div>
      <span class="text-xs mb-5 block text-center">
        Identificamos que o endereço selecionado pertence à franquia <strong>{{ franquiaEncontrada.nome }}</strong>.
        Para prosseguir com o atendimento nessa região, será necessário criar uma nova conta.
      </span>

      <div class="text-xs mb-4 block text-center">
        Você pode criar a conta com os dados da sua conta atual.
      </div>

      <div class="flex flex-col space-y-3 mt-5">
        <!--
          <ion-button expand="block" fill="solid" color="primary" (click)="usarDadosAtuais()">
            Usar Dados da Conta Atual
          </ion-button>
        -->
        <ion-button expand="block" fill="outline" color="secondary" (click)="preencherManual()">
          Criar conta
        </ion-button>
        <ion-button expand="block" fill="clear" color="danger" (click)="modalFranquiaChange.dismiss()">
          Cancelar
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="endereco-modal" #modalDeletedAccount>
  <ng-template>
    <div class="p-4">
      <div class="text-azulprincipal">Atenção</div>
      <span class="text-xs mb-5">Deseja mesmo deletar sua conta?</span>
      <div class="flex justify-between mt-4">
        <div (click)="deleteAccount()" class="text-red-600">Deletar</div>
        <div class="bg-azulprincipal text-white rounded-md py-1 px-2 shadow-md">Voltar</div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true" #modalFranquias class="modal-franquiado p-5">
  <ng-template>
    <div (click)="openExternalLink('https://www.vavive.com.br/seja-um-franqueado-app')" class="bg-verdepaleta rounded-md shadow-md px-3 py-2 inline-block mx-6 mt-4 text-center font-medium">
      SEJA UM FRANQUEADO
    </div>
    <div class="p-4 text-white font-medium text-sm text-center">
      <span class="text-verdepaleta">Seja um franqueado</span> ou selecione a unidade mais próxima. Confira as opções:
    </div>

    <div class="p-4 space-y-3 overflow-y-auto">
      <button
        *ngFor="let region of regionsCurrent"
        (click)="selectFranquia(region)"
        class="w-full bg-white text-gray-700 font-semibold text-center py-3 rounded-xl shadow-md border border-gray-200 hover:bg-gray-100 transition duration-300">
        {{ region.nome }}
      </button>
    </div>
    <div (click)="modalFranquias.dismiss()" class="my-3 pr-4 text-end text-verdepaleta">
      Fechar
    </div>
  </ng-template>
</ion-modal>
