<div
  *ngIf="!simpleScreen"
  [ngClass]="{'pt-3': !isPrecoValid(), 'pt-20': isPrecoValid()}"
  class="h-screen bg-radial-blue-radial overflow-auto pb-20 relative">
  <div
    [ngClass]="{'h-[70px]': !expandInfoValue, 'h-32': expandInfoValue}"
    class="flex flex-col justify-between fixed top-11 z-20 bg-laranjaprincipal w-full text-white pt-5 pb-3 px-2 duration-150" *ngIf="isPrecoValid()">
     <div class="flex justify-between">
       <div class="flex h-[70px] items-start">
         <div class="flex items-center pt-2">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
           </svg>
         </div>
        <div class="flex flex-col ml-3">
          <span class="">
            O valor do serviço é {{ preco.valor | currency:'BRL' }}
          </span>
          <span class="text-xs">
            (referente a cada atendimento)
          </span>
        </div>
       </div>
       <div class="flex items-start h-[70px] pt-2" (click)="expandInfoValue = !expandInfoValue">
        <svg
        [ngClass]="{'rotate-180': expandInfoValue, 'rotate-0': !expandInfoValue}"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 duration-150">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
       </div>
     </div>
     <div (click)="modalCupom.present()" *ngIf="expandInfoValue && !currentCupom" class="mx-2 -mt-4 text-center text-laranjaprincipal py-2 bg-amarelopaleta rounded-md shadow-md">
      Adicionar cupom
     </div>
     <div *ngIf="expandInfoValue && currentCupom" class="flex text-xs -mt-4 py-2 rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9 14.25 6-6m4.5-3.493V21.75l-3.75-1.5-3.75 1.5-3.75-1.5-3.75 1.5V4.757c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0c1.1.128 1.907 1.077 1.907 2.185ZM9.75 9h.008v.008H9.75V9Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm4.125 4.5h.008v.008h-.008V13.5Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
      <div class="flex justify-between w-full">
        <div class="flex flex-col ml-3 -mt-1">
          <div>
            Cupom: {{currentCupom.nome}}
          </div>
          <div>
            Valor desconto: {{ currentCupom.valor | currency:'BRL':'symbol':'1.2-2' }}
          </div>
        </div>
        <div (click)="removeCupom()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

     </div>
  </div>
  <div class="flex justify-center w-full p-3">
    <div class="flex flex-col w-full">
      <div class="bg-white p-3 rounded-md">

        <div>
          <span class="text-azulprincipal font-semibold">Escolha um serviço</span>

          <div class="relative h-[150px] pt-3">
            <swiper-container
            #swiper
            [modules]="swiperModules"
            [slidesPerView]="3"
            [spaceBetween]="0"
            [pagination]="{clickable: true}"
            style="--swiper-pagination-color: #FD4F04;">

            <swiper-slide *ngFor="let service of services; let i = index">
              <div [ngClass]="{
                'bg-azulprincipal text-white shadow-md': isServiceSelected(service.ID),
                'hover:bg-azulprincipal hover:text-white': !isServiceSelected(service.ID),
                'w-full flex': !this.selectedServiceId,'w-0 hidden': this.selectedServiceId,
                'border-r': i !== services.length - 1
              }" class="border border-gray-400 h-[100px] flex-col p-4 text-center text-sm mb-10 shadow-md" (click)="selectService(service.ID, i)">
                <div class="h-[50%]">
                  <img class="h-[22px] mx-auto" src="{{service.icon}}">
                </div>
                <div class="h-[50%] flex items-center justify-center">
                  {{ service.nome }}
                </div>
              </div>
            </swiper-slide>
            </swiper-container>
            <div class="w-0 h-[100px] bg-azulprincipal mb-10 mt-4 shadow-md rounded-md duration-150 text-white absolute top-0"
            [ngClass]="{'w-full': this.selectedServiceId,'w-0': !this.selectedServiceId}">
            <div class="h-full relative" [ngClass]="{'flex': this.selectedServiceId,'hidden': !this.selectedServiceId}">
              <div *ngIf="selectedServiceId" class=" flex items-center">
                <div class=" text-center w-[20%] flex justify-center px-4">
                  <img class="h-[90px] mx-auto" style="color: #FD4F04;" src="{{services[indexServiceSelected].icon_secundario}}">

                </div>
                <div class="flex flex-col">
                  <span class="text-amarelopaleta">{{services[indexServiceSelected].nome}}</span>
                  <span class="text-white text-[13px] pr-2">{{services[indexServiceSelected].descricao}}</span>
                </div>
              </div>
              <div class=" absolute bg-amarelopaleta -right-2 -top-2 rounded-full flex items-center" (click)="selectedServiceId = null; preco = null">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-7 mx-auto">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div *ngIf="!multipleAddresses" [formGroup]="formAtendimento">
          <span class="text-azulprincipal font-semibold">Endereço</span>
          <!--
            <div class="flex flex-col" [formGroupName]="'cliente'">
              <ion-input
                label="Email"
                label-placement="floating"
                fill="outline"
                class="custom mt-6 !text-black"
                autocomplete="true"
                type="tel"
                inputmode="numeric"
                formControlName="email"

              ></ion-input>
            </div>
          -->
          <div class="flex flex-col" [formGroupName]="'endereco'">
            <ion-input
              label="CEP"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              formControlName="cep"
            ></ion-input>
            <ion-input
              label="Bairro"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              formControlName="bairro"
            ></ion-input>
            <ion-input
              label="Rua"
              label-placement="floating"
              fill="outline"
              class="custom mt-6"
              autocomplete="true"
              type="tel"
              formControlName="rua"
          ></ion-input>
          <div class="flex">
            <ion-input
            label="Nº"
            label-placement="floating"
            fill="outline"
            class="custom mt-6 w-[30%] mr-2"
            autocomplete="true"
            type="tel"
            formControlName="numero"
            ></ion-input>
            <ion-input
            label="Complemento"
            label-placement="floating"
            fill="outline"
            class="custom mt-6 w-[70%]"
            autocomplete="true"
            type="tel"
            formControlName="complemento"
            ></ion-input>
          </div>
          </div>
        </div>
        <div *ngIf="multipleAddresses" class="flex flex-col">
          <div>
            Selecione o endereço desejado
          </div>
          <div (click)="modalEnderecos.present()" class="mt-2 rounded-md border border-azulprincipal text-azulprincipal p-2 flex items-center justify-center">
            <div>Escolher endereço</div>
          </div>
        </div>
        <div class="my-6">
          <div class="flex flex-col">
            <span class="text-azulprincipal font-semibold">Ajuste de horas</span>
            <span class="text-sm">Escolha a duração conforme achar melhor.</span>
          </div>
          <div class="flex justify-between mt-4 relative">
            <div (click)="downHour()" class="h-14 left-0 absolute w-14 bg-azulprincipal border border-white shadow-md rounded-full flex items-center">
              <div class="flex justify-center w-full text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mx-auto">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                </svg>
              </div>
            </div>
            <div class="h-12 my-1 pt-2 w-[90%] bg-gray-200 border border-white shadow-md mx-auto text-black text-center"> {{hourSelected}} horas</div>
            <div (click)="upHour()" class="h-14 right-0 absolute w-14 bg-azulprincipal border border-white shadow-md rounded-full flex items-center">
              <div class="flex justify-center w-full text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </div>
            </div>
        </div>
      </div>
      <div class="mt-6">
        <div class="flex flex-col">
          <span class="text-azulprincipal font-semibold">Frequencia dos atendimentos</span>
          <span class="text-sm">Selecione a frequencia que deseja os atendimentos</span>
        </div>
        <ion-radio-group [(ngModel)]="selectedPlano"  (ionChange)="this.calculatePreco();">
          <swiper-container
            #swiper
            [modules]="swiperModules"
            [slidesPerView]="3"
            [spaceBetween]="0"
            [pagination]="{ clickable: true }"
            style="--swiper-pagination-color: #FD4F04;">

            <!-- Iterate over services and create each slide -->
            <swiper-slide *ngFor="let plano of planos">
              <div class="border border-gray-400 h-[100px] flex flex-col p-4 w-full text-center text-sm my-10 shadow-md">
                <div class="h-[50%]">
                  <ion-radio
                    [value]="plano"
                    aria-label="Custom checkbox"
                    alignment="start">
                  </ion-radio>
                </div>
                <div class="h-[50%] flex items-center justify-center">
                  {{ plano.name }}
                </div>
              </div>
            </swiper-slide>

          </swiper-container>
        </ion-radio-group>

      </div>
      <div class="mt-6">
        <div class="flex flex-col">
          <span class="text-azulprincipal font-semibold">Dia do atendimento</span>
          <span class="text-sm">Data do primeiro do atendimento</span>
        </div>
        <div class="flex mt-4">
          <swiper-container
            #swiper
            [modules]="swiperModules"
            [slidesPerView]="4"
            [spaceBetween]="15"
            [pagination]="{ clickable: true }"
            style="--swiper-pagination-color: #FD4F04;"
            class="duration-150 h-32"
            [ngClass]="{'w-full': selectedDate==='','w-0': selectedDate!==''}"
          >
            <!-- Iterate over the next 5 days -->
            <swiper-slide *ngFor="let day of nextFiveDays">
              <div class="border border-gray-400 h-[80px] flex flex-col p-4 w-full text-center text-xs mb-1 shadow-md" (click)="onDaySelect(day)">
                <div class="h-[50%] font-semibold">{{ day.dayOfWeek }}</div>
                <div class="h-[50%] flex items-center justify-center text-lg">{{ day.dateNumber }}</div>
              </div>
            </swiper-slide>

            <!-- Calendar option -->
            <swiper-slide>
              <div id="open-custom-dialog-datainicio" class="border border-gray-400 h-[80px] flex flex-col p-4 w-full text-center text-xs mb-1 shadow-md" >
                <div class="h-[50%] flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>
                </div>
                <span class="mt-1">Mais</span>
              </div>
            </swiper-slide>
          </swiper-container>
          <div class="w-0 h-[80px] bg-azulprincipal mb-1 shadow-md rounded-md duration-150 text-white"
          [ngClass]="{'w-full': selectedDate!=='','w-0': selectedDate===''}">
          <div class="h-full" [ngClass]="{'flex': selectedDate!=='','hidden': selectedDate===''}">
            <div class="w-[80%] flex items-center px-8">
              <div class="flex flex-col">
                <span>{{formatDate(selectedDate)}}</span>
                <span class="text-[11px]">Será a data de inicio do atendimento</span>
              </div>
            </div>
            <div class="w-[20%] bg-azulprincipal/60 h-full border-l border-white flex items-center" (click)="selectedDate = ''">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-7 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="mt-6" [ngClass]="{'hidden':selectedPlano.plano === 'avulso', 'block': selectedPlano.plano !== 'avulso'}">
        <div class="flex flex-col">
          <span class="text-azulprincipal font-semibold">Dia do encerramento</span>
          <span class="text-sm">Data do encerramento dos atendimentos</span>
        </div>
        <div class="flex mt-4">
          <swiper-container
            #swiper
            [modules]="swiperModules"
            [slidesPerView]="4"
            [spaceBetween]="15"
            [pagination]="{ clickable: true }"
            style="--swiper-pagination-color: #FD4F04;"
            class="duration-150 h-32"
            [ngClass]="{'w-full': selectedDateFim==='','w-0': selectedDateFim!==''}"
          >
            <!-- Iterate over the next 5 days -->
            <swiper-slide *ngFor="let day of nextFiveDaysFinal">
              <div class="border border-gray-400 h-[80px] flex flex-col p-4 w-full text-center text-xs mb-1 shadow-md" (click)="onDayFinalSelect(day)">
                <div class="h-[50%] font-semibold">{{ day.dayOfWeek }}</div>
                <div class="h-[50%] flex items-center justify-center text-lg">{{ day.dateNumber }}/{{ day.dateMonth }}</div>
              </div>
            </swiper-slide>

            <!-- Calendar option -->
            <swiper-slide>
              <div id="open-custom-dialog-3" class="border border-gray-400 h-[80px] flex flex-col p-4 w-full text-center text-xs mb-1 shadow-md" >
                <div class="h-[50%] flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>
                </div>
                <span class="mt-1">Mais</span>
              </div>
            </swiper-slide>
          </swiper-container>
          <div class="w-0 h-[80px] bg-azulprincipal mb-1 shadow-md rounded-md duration-150 text-white"
          [ngClass]="{'w-full': selectedDateFim!=='','w-0': selectedDateFim===''}">
          <div class="h-full" [ngClass]="{'flex': selectedDateFim!=='','hidden': selectedDateFim===''}">
            <div class="w-[80%] flex items-center px-8">
              <div class="flex flex-col">
                <span>{{formatDate(selectedDateFim)}}</span>
                <span class="text-[11px]">Será a data de encerramento</span>
              </div>
            </div>
            <div class="w-[20%] bg-azulprincipal/60 h-full border-l border-white flex items-center" (click)="selectedDateFim = ''">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-7 mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--
        <div class="py-2 border border-azulprincipal text-azulprincipal rounded-md shadow-md my-6" id="open-custom-dialog-2">
          <div class="flex flex-col text-center"  *ngIf="!hourInit">
            <span class="text-sm font-semibold">Selecione a hora</span>
            <span class="text-xs">(horario que será atendido)</span>
          </div>
          <div class="flex flex-col text-center"  *ngIf="hourInit">
            <span class="text-sm font-semibold">{{hourInit}}</span>
            <span class="text-xs">(horario que será atendido)</span>
          </div>
        </div>
      -->
      <div class="flex flex-col">
        <div class="flex flex-col">
          <span class="text-azulprincipal font-semibold">Hora de chega</span>
          <span class="text-sm">Selecione o horario de chegada do profissional</span>
        </div>
        <div class="flex justify-between my-2">
          <div
            [ngClass]="{'border border-azulprincipal text-azulprincipal ': selectedTime !== '08:00', 'bg-azulprincipal text-white': selectedTime === '08:00'}"
            class="w-[47%] py-2 rounded-md shadow-md duration-150" (click)="selectHour('08:00')">
            <div class="flex flex-col text-center" >
              <span class="text-sm font-semibold">08h - 10h</span>
            </div>
          </div>
          <div
          [ngClass]="{'border border-azulprincipal text-azulprincipal ': selectedTime !== '12:00', 'bg-azulprincipal text-white': selectedTime === '12:00'}"
          class="w-[47%] py-2 rounded-md shadow-md duration-150" (click)="selectHour('12:00')">
            <div class="flex flex-col text-center" >
              <span class="text-sm font-semibold">12h - 14h</span>
            </div>
          </div>
        </div>
        <span *ngIf="selectedTime === '12:00' || selectedTime === '08:00'" class="text-azulprincipal text-xs">
          Profissional chegará a partir de {{selectedTime}}
        </span>

      </div>

      <div class="flex flex-col mt-5">
        <label class="text-azulprincipal font-semibold">Instruções para o profissional</label>
        <span class="text-sm">Deixe aqui alguma instrução especifica para o profissional</span>
        <textarea [(ngModel)]="msgProfissional" class="h-24 w-full border border-azulprincipal focus:outline-none rounded-md mt-4 p-4">

        </textarea>
      </div>

      <div class="flex bg-azulsombreado border border-azulprincipal text-azulprincipal rounded-md p-2 mt-6" *ngIf="isPrecoValid()">
        <!-- Conteúdo que será exibido quando houver um valor definido em 'preco' -->
         <div class="flex items-center">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
           </svg>
         </div>
        <div class="flex flex-col ml-3">
          <span class="">
            O valor do serviço é {{ preco.valor | currency:'BRL' }}
          </span>
          <span class="text-xs">
            (referente a cada atendimento)
          </span>
        </div>
      </div>

      <div (click)="submitNext()" class="py-2 bg-azulprincipal text-white rounded-md shadow-md mt-6 mb-6">
        <div class="flex flex-col text-center" >
          <span class="text-sm uppercase font-semibold">Agendar</span>
        </div>
      </div>

      <div (click)="navegate('/voltar')" class="py-2 border border-azulprincipal text-azulprincipal rounded-md shadow-md mt-6 mb-6" >
        <div class="flex flex-col text-center" >
          <span class="text-sm uppercase font-semibold">Voltar</span>
        </div>
      </div>

      </div>
      <div class="h-10 w-full bg-transparent text-transparent">
        i
      </div>
  </div>
  </div>
</div>
<div
  *ngIf="simpleScreen"
  [ngClass]="{'pt-3': !isPrecoValid(), 'pt-20': isPrecoValid()}"
  class="h-screen bg-radial-blue-radial overflow-auto pb-20 relative">
  <div class="flex justify-center w-full p-3">
    <div class="flex flex-col w-full">

      <div class="bg-white p-3 rounded-md">

      <div class="text-laranjaprincipal font-[500]">
        {{services[indexServiceSelected].nome}}
      </div>
      <div class="text-sm">
        {{services[indexServiceSelected].descricao}}
      </div>
      <link class="" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
      <div class="py-2 bg-verdepaleta text-azulprincipal rounded-md shadow-md mt-6 mb-6">
        <div class="flex flex-col text-center items-center" >
          <span class="text-sm uppercase font-semibold">
            <i style="margin-top: 10px" class="fa fa-whatsapp"></i>
            Agendar
        </span>
        </div>
      </div>

      <div (click)="navegate('/start')" class="py-2 border border-azulprincipal text-azulprincipal rounded-md shadow-md mt-6 mb-6" >
        <div class="flex flex-col text-center" >
          <span class="text-sm uppercase font-semibold">Voltar</span>
        </div>
      </div>

      </div>
      <div class="h-10 w-full bg-transparent text-transparent">
        i
      </div>
  </div>
  </div>
</div>


<!--
<ion-modal id="example-modal" #modalDateInitPlan trigger="open-custom-dialog-datainicio">
  <ng-template>
    <div class="flex flex-col px-3 pt-3">
      <label class="text-azulprincipal">Data inicio</label>
      <label class="text-sm" *ngIf="selectedPlano.plano !== 'avulso'">Selecione o dia do primeiro atendimento</label>
      <label class="text-sm" *ngIf="selectedPlano.plano === 'avulso'">Selecione o dia do atendimento</label>
    </div>
    <ion-datetime
      id="datetime"
      presentation="date"
      [min]="minDate"
      value="2023-11-02"
      [highlightedDates]="highlightedDates"
      [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit'
        }
      }"
      (ionChange)="onDateSelectedPlan($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>
-->


  <ion-modal id="example-modal" #modalDateInit trigger="open-custom-dialog-datainicio">
    <ng-template>
      <div class="flex flex-col px-3 pt-3">
        <label class="text-azulprincipal">Data inicio</label>
        <label class="text-sm" *ngIf="selectedPlano.plano !== 'avulso'">Selecione o dia do primeiro atendimento</label>
        <label class="text-sm" *ngIf="selectedPlano.plano === 'avulso'">Selecione o dia do atendimento</label>
      </div>
      <ion-datetime
        id="datetime"
        presentation="date"
        [min]="minDate"
        value="2023-11-02"
        [formatOptions]="{
          date: {
            weekday: 'short',
            month: 'long',
            day: '2-digit'
          }
        }"
        (ionChange)="onDateSelected($event)"
      ></ion-datetime>
      <div class="-mt-5 mb-3 rounded-md mx-2 p-1 text-xs bg-azulsombreado border border-azulprincipal" *ngIf="selectedPlano.plano !== 'avulso'">
        <b>OBS:</b> Selecione apenas a data de inicio, as demais datas serão agendadas automaticamente. Após o agendamento é possivel alterar a data do atendimento na aba de serviços.
      </div>
    </ng-template>
  </ion-modal>


<ion-modal id="example-modal" #modalDateFim trigger="open-custom-dialog-3">
  <ng-template>
    <div class="flex flex-col px-3 pt-3">
      <label class="text-azulprincipal">Data fim</label>
      <label class="text-sm" *ngIf="selectedPlano.plano !== 'avulso'">Selecione o dia do encerramento dos atendimentos</label>
    </div>
    <ion-datetime
      id="datetime"
      presentation="date"
      [min]="minDateFim"
      value="2023-11-02"
      [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit'
        }
      }"
      (ionChange)="onDateSelectedFinal($event)"
    ></ion-datetime>

  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modalHour trigger="open-custom-dialog-2" (willDismiss)="onWillDismiss()" >
  <ng-template>
    <div class="p-4">
      <div class="flex flex-col">
        <label class="text-azulprincipal">Selecione o horario</label>
        <span class="text-xs">Sera o horario de chegada do nosso profissional</span>
      </div>
      <ion-picker>
        <ion-picker-column [value]="selectedTime" (ionChange)="onIonChange($event)">
          <ion-picker-column-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</ion-picker-column-option>
        </ion-picker-column>
      </ion-picker>
      <div class="flex justify-between mt-4">
        <button class="text-gray-500" (click)="modalHour.dismiss()">Cancelar</button>
        <button class="text-azulprincipal" (click)="modalHour.dismiss()">Confirmar</button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modalMissing trigger="open-custom-dialog-missing" (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="flex flex-col">
        <label class="text-azulprincipal">Atenção</label>
        <span class="text-xs mb-5">Por favor preencha os seguintes campos:</span>
        <div class="" *ngFor="let field of missingFields">
          <div class="text-xs">- {{field}}</div>
        </div>
      </div>

      <div class="flex justify-between mt-4">
        <button class="text-azulprincipal" (click)="modalMissing.dismiss()">Confirmar</button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="example-modal" #modalCupom trigger="open-custom-dialog-missing" (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="flex flex-col">
        <label class="text-azulprincipal">Atenção</label>
        <span class="text-xs mb-5">Por favor preencha campo com o cupom:</span>
        <ion-input
            label="Cupom"
            label-placement="floating"
            fill="outline"
            class="custom mt-2"
            (keyup)="cupomInvalid = false"
            [(ngModel)]="currentCupomName"
        ></ion-input>
      </div>
      <div (click)="searchCupom()" class="mt-2 text-center py-2 bg-amarelopaleta text-laranjaprincipal rounded-md shadow-md">
        Buscar cupom
       </div>
       <div *ngIf="currentCupomProv" class="mt-2 text-center text-xs flex flex-col py-2 bg-laranjaprincipal text-white rounded-md shadow-md">
        <div>
          Valor desconto: {{ currentCupomProv.valor | currency:'BRL':'symbol':'1.2-2' }}
        </div>
        <div>
          Validade: {{formatDate( currentCupomProv.data_validade)}}
        </div>
       </div>
       <div *ngIf="cupomInvalid" class="mt-2 text-center text-xs flex flex-col py-2 bg-red-700 text-white rounded-md shadow-md">
        <div>
          Cupom vencido ou inativo
        </div>
       </div>
      <div class="flex justify-between mt-2">
        <button class="text-azulprincipal" (click)="modalCupom.dismiss(); currentCupomProv = null">Fechar</button>
        <button class="text-laranjaprincipal" *ngIf="currentCupomProv" (click)="applyCupom()">USAR CUPOM</button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true" #modalConfirm class="custom-modal-confirmed">
  <ng-template>
    <div class="px-6 pt-5 text-laranjaprincipal font-semibold text-center text-xl">
      Atendimento agendado!
    </div>
    <div class="flex justify-center">
      <ng-lottie *ngIf="animation" [options]="options" (animationCreated)="animationCreated($event)" width="200px" height="200px"></ng-lottie>
    </div>
    <div class="px-6 pb-5 -mt-6 text-sm text-center">
      Faça acompanhamento e pagamento dos atendimentos na tela de listagem!
    </div>
    <div class="px-6 py-2.5 bg-laranjaprincipal text-white font-semibold text-center" (click)="this.modalConfirm.dismiss();">
      Listagem
    </div>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true" #modalEnderecos class="custom-modal-confirmed p-2">
  <ng-template>
    <div class="pl-2 pt-2 text-laranjaprincipal font-normal">
      Endereços
    </div>
    <div class="pl-2 font text-[14px]">
      Clique sobre o endereço desejado:
    </div>
    <div class="h-[400px] overflow-y-auto mx-2 mt-1 mb-2" >
      <div class="border border-laranjaprincipal text-white bg-laranjaprincipal shadow-md rounded-md p-2 text-xs mt-2" *ngFor="let item of addressesFound" (click)="selectAdress(item)" >
        <div>
          Endereço: {{item.rua}}, n° {{item.numero}}
        </div>
        <div>
          Bairro: {{item.bairro}}
        </div>
        <div>
          Cidade: {{item.cidade}} - {{item.estado}}
        </div>
      </div>
    </div>
    <div class="mb-3 pl-2 text-laranjaprincipal">
      Fechar
    </div>
  </ng-template>
</ion-modal>

<app-loading #loadingComponent></app-loading>

