<div class="h-screen bg-gray-100 flex items-center">
  <div class="w-full flex justify-center px-4">
    <div class="bg-white px-4 py-8 rounded-sm w-full -mt-28 shadow-md">
      <form [formGroup]="form">
        <div class="flex flex-col">
          <div>Esqueceu a senha?</div>
          <div class="text-sm text-gray-500">
            Insira seu email abaixo e nós te enviaremos as instruções para criar
            uma senha nova.
          </div>
        </div>
        <div class="flex flex-col">
          <input
            class="w-full h-10 border-b-2 mt-7 p-2 focus:outline-none"
            placeholder="Email"
            formControlName="email"
            autocomplete="true"
            autocapitalize="none"
            autocorrect="off"
            type="email"
          />
          <div
            *ngIf="
              formControlls['email'].value && formControlls['email'].errors
            "
          >
            <span class="text-red-500 text-[10px]">* Email inválido</span>
          </div>
        </div>
        <button
          [ngClass]="{
            'bg-azulprincipal':
              formControlls['email'].value && formControlls['email'].valid,
            'bg-gray-100': !formControlls['email'].value
          }"
          class="text-center text-white rounded py-2 w-full mt-8 duration-150"
          (click)="onSubmit()"
          [disabled]="!form.valid"
        >
          <div class="font-bold">Enviar instruções</div>
        </button>
        <div
          class="text-center text-azulprincipal rounded py-2 w-full mt-8 duration-150 border-[1px] border-azulprincipal"
          (click)="navigateToAccountSign()"
        >
          <div class="font-bold">Voltar</div>
        </div>
      </form>
    </div>
  </div>
</div>
<ion-action-sheet
  trigger="open-action-sheet"
  header="Qual tipo de conta?"
  [buttons]="actionSheetButtons"
></ion-action-sheet>
<app-alert #alertComponent></app-alert>
