<div class="h-screen flex flex-col overflow-auto relative bg-white pb-24">

  <ion-segment [(ngModel)]="screnn" class="top-0 z-10" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="profile">
      <ion-label>Agendados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="payments">
      <ion-label>Historico</ion-label>
    </ion-segment-button>

  </ion-segment>

  <div *ngIf="screnn==='profile'" class="overflow-auto pb-20" >

    <div class="w-full flex justify-center px-4">
      <div class="px-2 pb-8 rounded-sm w-full text-[11px]">
        <div *ngFor="let atendimento of listAgendados" (click)="openOptionsModal(atendimento)" class="h-[85px] w-full rounded-md shadow-md px-2 py-3 text-gray-700 relative bg-azulsombreado mt-4">
          <div class="flex h-full">
            <div class="w-[78%] flex flex-col">
              <div class="flex">
                OS: {{atendimento.ID}}
                <div class="ml-1 -mt-0.5">
                  <span class="shadow-sm" *ngIf="atendimento.status_atendimento === 'Concluido'" [ngClass]="{'inline-flex items-center bg-green-100 text-green-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-green-900 dark:text-green-300': atendimento.status_atendimento === 'Concluido'}">
                    <span class="w-1 h-1 mr-1 bg-green-500 rounded-full"></span>
                    Realizado
                  </span>

                    <span class="shadow-sm" *ngIf="atendimento.status_atendimento  !== 'Concluido' && atendimento.status_atendimento  !== 'Cancelado'" [ngClass]="{'inline-flex items-center bg-yellow-100 text-yellow-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-yellow-900 dark:text-yellow-300': atendimento.status_atendimento  !== 'Concluido' && atendimento.status_atendimento  !== 'Cancelado'}">
                      <span class="w-1 h-1 mr-1 bg-yellow-500 rounded-full"></span>
                      Agendado
                    </span>

                  <span class="shadow-sm" *ngIf="atendimento.status_atendimento === 'Cancelado'" [ngClass]="{'inline-flex items-center bg-red-100 text-red-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-red-900 dark:text-red-300': atendimento.status_atendimento === 'Cancelado'}">
                    <span *ngIf="atendimento.status_atendimento === 'Cancelado'" class="w-1 h-1 mr-1 bg-red-500 rounded-full"></span>
                      Cancelado
                  </span>
                </div>
              </div>
              <div>
                Serviço: {{atendimento.servicos[0].nome}}
              </div>
              <div class="flex">
                <div>
                  Plano: {{capitalizeFirstLetter(atendimento.plano)}}
                </div>
                <div class="ml-2">
                  Valor: {{atendimento.valor_total | currency:'BRL' }}
                </div>
              </div>
              <div class="flex">

                <div class="flex">
                  Pagamento:
                  <div class="ml-1 -mt-0.5">
                    <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Pago'" [ngClass]="{'inline-flex items-center bg-green-100 text-green-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-green-900 dark:text-green-300': atendimento.status_pagamento === 'Pago'}">
                      <span class="w-1 h-1 mr-1 bg-green-500 rounded-full"></span>
                      Pago
                    </span>

                      <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Pendente'" [ngClass]="{'inline-flex items-center bg-yellow-100 text-yellow-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-yellow-900 dark:text-yellow-300': atendimento.status_pagamento  === 'Pendente'}">
                        <span class="w-1 h-1 mr-1 bg-yellow-500 rounded-full"></span>
                        Pendente
                      </span>

                    <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Cancelado'" [ngClass]="{'inline-flex items-center bg-red-100 text-red-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-red-900 dark:text-red-300': atendimento.status_pagamento === 'Cancelado'}">
                      <span *ngIf="atendimento.status_pagamento === 'Cancelado'" class="w-1 h-1 mr-1 bg-red-500 rounded-full"></span>
                        Vencido
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-[22%] pl-2 h-full flex items-center justify-center border-l border-azulprincipal">
              <div class="flex flex-col">
                <div class="text-xl text-center text-azulprincipal">{{ getDia(atendimento.data_inicio) }}</div>
                <div>{{ getMesComAno(atendimento.data_inicio) }}</div>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="listAgendados.length === 0"  class="h-full flex flex-col mt-32">
          <img class="h-8" src="./assets/icons/warning.svg"/>
          <span class="text-[11px] text-gray-800 text-center">Nenhum atendimento encontrado</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="screnn==='payments'" class="overflow-auto pb-20"  >
    <div class="w-full flex justify-center px-4">
      <div class="px-2 pb-8 rounded-sm w-full text-[11px]">
        <div *ngFor="let atendimento of listHistorico" (click)="openOptionsModal(atendimento)" class="h-[85px] w-full rounded-md shadow-md px-2 py-3 text-gray-700 relative bg-azulsombreado mt-4">
          <div class="flex h-full">
            <div class="w-[78%] flex flex-col">
              <div class="flex">
                OS: {{atendimento.ID}}
                <div class="ml-1 -mt-0.5">
                  <span class="shadow-sm" *ngIf="atendimento.status_atendimento === 'Concluido'" [ngClass]="{'inline-flex items-center bg-green-100 text-green-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-green-900 dark:text-green-300': atendimento.status_atendimento === 'Concluido'}">
                    <span class="w-1 h-1 mr-1 bg-green-500 rounded-full"></span>
                    Realizado
                  </span>

                    <span class="shadow-sm" *ngIf="atendimento.status_atendimento  !== 'Concluido' && atendimento.status_atendimento  !== 'Cancelado'" [ngClass]="{'inline-flex items-center bg-yellow-100 text-yellow-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-yellow-900 dark:text-yellow-300': atendimento.status_atendimento  !== 'Concluido' && atendimento.status_atendimento  !== 'Cancelado'}">
                      <span class="w-1 h-1 mr-1 bg-yellow-500 rounded-full"></span>
                      Agendado
                    </span>

                  <span class="shadow-sm" *ngIf="atendimento.status_atendimento === 'Cancelado'" [ngClass]="{'inline-flex items-center bg-red-100 text-red-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-red-900 dark:text-red-300': atendimento.status_atendimento === 'Cancelado'}">
                    <span *ngIf="atendimento.status_atendimento === 'Cancelado'" class="w-1 h-1 mr-1 bg-red-500 rounded-full"></span>
                      Cancelado
                  </span>
                </div>
              </div>
              <div>
                Serviço: {{atendimento.servicos[0].nome}}
              </div>
              <div class="flex">
                <div>
                  Plano: {{capitalizeFirstLetter(atendimento.plano)}}
                </div>
                <div class="ml-2">
                  Valor: {{atendimento.valor_total | currency:'BRL' }}
                </div>
              </div>
              <div class="flex">
                <div class="flex">
                  Pagamento:
                  <div class="ml-1 -mt-0.5">
                    <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Pago'" [ngClass]="{'inline-flex items-center bg-green-100 text-green-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-green-900 dark:text-green-300': atendimento.status_pagamento === 'Pago'}">
                      <span class="w-1 h-1 mr-1 bg-green-500 rounded-full"></span>
                      Pago
                    </span>

                      <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Pendente'" [ngClass]="{'inline-flex items-center bg-yellow-100 text-yellow-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-yellow-900 dark:text-yellow-300': atendimento.status_pagamento  === 'Pendente'}">
                        <span class="w-1 h-1 mr-1 bg-yellow-500 rounded-full"></span>
                        Pendente
                      </span>

                    <span class="shadow-sm" *ngIf="atendimento.status_pagamento === 'Cancelado'" [ngClass]="{'inline-flex items-center bg-red-100 text-red-800 text-[10px] font-medium mr-2 px-1 rounded-full dark:bg-red-900 dark:text-red-300': atendimento.status_pagamento === 'Cancelado'}">
                      <span *ngIf="atendimento.status_pagamento === 'Cancelado'" class="w-1 h-1 mr-1 bg-red-500 rounded-full"></span>
                        Vencido
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-[22%] pl-2 h-full flex items-center justify-center border-l border-azulprincipal">
              <div class="flex flex-col">
                <div class="text-xl text-center text-azulprincipal">{{ getDia(atendimento.data_inicio) }}</div>
                <div>{{ getMesComAno(atendimento.data_inicio) }}</div>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="listHistorico.length === 0">
          <div class="flex flex-col text-center mt-32">
            <img class="h-8" src="./assets/icons/warning.svg">
            <div class="mt-2.5 text-gray-700">Nenhum atendimento encontrado.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="navegate('services/new')" class="h-10 py-3 px-4 rounded-full uppercase text-xs font-[500] bg-azulprincipal text-white flex absolute bottom-32 right-5 shadow-md">
    Novo agendamento
  </div>
</div>

<ion-modal id="example-modal" #modalOptions trigger="open-custom-dialog-missing" (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="flex flex-col">
        <label class="text-azulprincipal">Atenção</label>
        <span class="text-xs mb-5">Escolha uma da opções:</span>
        <div (click)="openModalStatusCliente()"   *ngIf="currentAtendimento.status_pagamento === 'Pendente' && currentAtendimento.status_atendimento !== 'Cancelado'" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center ">
          <img class="h-4" src="./assets/icons/user-circle.svg">
          <label class="ml-3 text-xs uppercase">Status cliente</label>
        </div>
        <div (click)="criaPagamento()"   *ngIf="currentAtendimento.status_pagamento === 'Pendente' && currentAtendimento.status_atendimento !== 'Cancelado'" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/banknotes.svg">
          <label class="ml-3 text-xs uppercase">Fazer pagamento</label>
        </div>
        <div *ngIf="currentAtendimento.profissional.length > 0" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/identification.svg">
          <label class="ml-3 text-xs uppercase">Ver profissional</label>
        </div>
        <div  (click)="openModalDetails()" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/search.svg">
          <label class="ml-3 text-xs uppercase">Ver detalhes</label>
        </div>
        <div *ngIf="canChangeDate()" (click)="openModalDateAtendimento()" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/data.svg">
          <label class="ml-3 text-xs uppercase">Alterar data</label>
        </div>
        <div *ngIf="isConfirmarAtendimentoDisponivel()" (click)="confirmedAtendimento()" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/check.svg">
          <label class="ml-3 text-xs uppercase">Confirmar atendimento</label>
        </div>
        <div *ngIf="canCancelAtendimento()" (click)="openModalCancelAtendimento()" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/x-mark.svg">
          <label class="ml-3 text-xs uppercase">Cancelar atendimento</label>
        </div>
        <div *ngIf="canCancelAtendimento()" (click)="openModalEvaluation();" class="p-2 bg-azulsombreado rounded-md shadow-md flex items-center mt-3.5">
          <img class="h-4" src="./assets/icons/star.svg">
          <label class="ml-3 text-xs uppercase">Avaliar atendimento</label>
        </div>
      </div>

      <div class="flex justify-between mt-4">
        <button class="text-gray-700" (click)="modalOptions.dismiss()">Fechar</button>
      </div>
    </div>
  </ng-template>
</ion-modal>


<ion-modal id="example-modal" #modalCancel (willDismiss)="onWillDismiss()">
  <ng-template>
    <div class="p-4">
      <div class="flex flex-col">
        <label class="text-azulprincipal">Atenção</label>
        <span class="text-xs mb-5">Deseja realmente cancelar o atendimento {{ formatDate(currentAtendimento.data_inicio) }} ?</span>

        <!-- Textarea para motivo de cancelamento -->
        <label class="text-gray-700 text-xs">Motivo do cancelamento:</label>
        <textarea [(ngModel)]="cancelDescription" class="w-full border border-gray-300 p-2 mt-2.5" rows="3"></textarea>
        <span *ngIf="cancelDescription.length < 5 && cancelDescription.length > 0" class="text-red-500 text-xs">
          O motivo deve ter no mínimo 5 letras.
        </span>
      </div>

      <div class="flex justify-between mt-4">
        <button class="text-gray-700" (click)="modalCancel.dismiss()">Fechar</button>

        <!-- Desabilitar o botão se a descrição for menor que 5 letras -->
        <button
          [ngClass]="{'text-gray-400': cancelDescription.length < 5,'text-gray-700': cancelDescription.length > 5 }"
          [disabled]="cancelDescription.length < 5"
          (click)="confirmCancel()">
          Confirmar
        </button>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="details-modal" #modalDate trigger="open-custom-dialog-datainicio">
  <ng-template>
    <div class="flex flex-col px-3 pt-3">
      <label class="text-azulprincipal">Data atendimento</label>
    </div>
    <ion-datetime
      id="datetime"
      presentation="date"
      [value]="currentAtendimento.data_inicio"
      [min]="minDate"
      [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit'
        }
      }"
      (ionChange)="onDateSelected($event)"

    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal id="details-modal" #modalDetails>
  <ng-template>
    <div class="flex flex-col px-3 pt-3">
      <label class="text-azulprincipal">Detalhes atendimento</label>
    </div>
    <div class="flex-col flex px-3 py-5 text-xs">
      <div>
        <span>OS: {{currentAtendimento.ID}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/data.svg">
        <span>Data atendimento: {{formatDate(currentAtendimento.data_inicio)}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/clock.svg">
        <span>Hora do atendimento: {{currentAtendimento.hora_de_entrada}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/chart-pie.svg">
        <span>Duracao: {{currentAtendimento.duracao}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/wrench-screwdriver.svg">
        <span>Serviço: {{currentAtendimento.servicos[0].nome}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/document-text.svg">
        <span>Plano: {{capitalizeFirstLetter(currentAtendimento.plano)}}</span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/home-modern.svg">
        <span>Endereço: {{currentAtendimento.endereco.rua}}, nº {{currentAtendimento.endereco.numero}} - {{currentAtendimento.endereco.bairro}} </span>
      </div>
      <div class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/user-circle.svg">
        <span>Cliente: {{currentAtendimento.cliente.nome}}</span>
      </div>
      <div *ngIf="currentAtendimento.profissional.length > 0" class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/information-circle.svg">
        <span>Profissional: {{currentAtendimento.profissional[0].nome}}</span>
      </div>
      <div *ngIf="currentAtendimento.observacoes_de_prestador" class="flex mt-2.5">
        <img class="mr-2 h-4" src="./assets/icons/information-circle.svg">
        <span>Observações: {{currentAtendimento.observacoes_de_prestador}}</span>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal id="details-modal" #modalEvaluation trigger="open-custom-dialog-evaluation">
  <ng-template>
    <div class="flex flex-col p-5">
      <h2 class="text-xl text-center mb-4">Avaliação de Atendimento</h2>

      <!-- Estrelas para avaliação -->
      <div class="flex justify-center space-x-2">
        <svg
          *ngFor="let star of stars; let i = index"
          [attr.class]="i < rating ? 'fill-yellow-400' : 'fill-gray-300'"
          class="w-8 h-8 cursor-pointer"
          (click)="setRating(i + 1)"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
        </svg>
      </div>

      <!-- Campo de avaliação -->
      <div class="mb-4 mt-1">
        <label class="text-lg text-gray-700 " for="evaluation-textarea">Descrição:</label>
        <textarea
          id="evaluation-textarea"
          rows="4"
          class="w-full p-3 border border-gray-300 rounded-md mt-1"
          placeholder="Deixe sua avaliação aqui..."
        ></textarea>
      </div>

      <!-- Botão para fechar ou enviar -->
      <div class="mt-4 flex justify-between space-x-4">
        <button (click)="closeModal()">Fechar</button>
        <!-- Desabilitar o botão se a descrição for menor que 5 letras -->
        <button
        [ngClass]="{'text-gray-400 bg-gray-200': rating === 0,'text-white bg-azulprincipal': rating > 0 }"
        [disabled]="rating === 0"
        class="duration-100 py-1 px-2 rounded-sm shadow-sm"
        (click)="submitReview()">
        Enviar
        </button>
      </div>


    </div>
  </ng-template>
</ion-modal>

<ion-modal id="details-modal" #modalStatusCliente trigger="open-custom-dialog-evaluation">
  <ng-template>
    <div class="flex flex-col p-5">
      <h2 class="text-xl text-center mb-4">Status do cliente</h2>

      <!-- Campo de avaliação -->
      <div class="mb-4 mt-1">
        <label class="text-lg text-gray-700 " for="evaluation-textarea">Status:</label>
        <select
        [(ngModel)]="selectStatusValue"
        class="h-9 w-full border-[1px] border-gray-300 rounded-md focus:outline-none pl-2">
          <option *ngFor="let option of optionListStatusCliente" value="{{option.valor}}">{{option.label}}</option>
        </select>
      </div>

      <!-- Botão para fechar ou enviar -->
      <div class="mt-4 flex justify-between space-x-4">
        <button (click)="closeModal()">Fechar</button>
        <!-- Desabilitar o botão se a descrição for menor que 5 letras -->
        <button
        class="duration-100 py-1 px-2 rounded-md shadow-sm text-white bg-azulprincipal"
        (click)="submitStatus()">
        Alterar
        </button>
      </div>


    </div>
  </ng-template>
</ion-modal>

<app-loading #loadingComponent></app-loading>
<app-alert #alertComponent></app-alert>
