ion-segment-button {
  --indicator-color: #FD4F04;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #FD4F04;
  --indicator-height: 1px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: #FD4F04;
  --color-checked: #fff;
  --border-radius: 20px;
}
ion-modal#details-modal {
  --width: fit-content;
  --min-width: 250px;
  --max-width:90%;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#details-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#details-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-fab-button {
  --background: #1931B6;
  --background-activated: #0f29bb;
  --background-hover: #0f29bb;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: white;
}
