<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW0_ZO7-vy-rpyUlZiSP89TnO3oVgFpDY</string>
	<key>GCM_SENDER_ID</key>
	<string>874870191992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.vavive</string>
	<key>PROJECT_ID</key>
	<string>vavive-32284</string>
	<key>STORAGE_BUCKET</key>
	<string>vavive-32284.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874870191992:ios:383cf0c8a327bb7546fa8d</string>
</dict>
</plist>